body{
  font-family: Arial, Helvetica, sans-serif;
}
form{
  margin: 0 auto;
  width: 500px;
  height: 200px;
  border: 4px dashed #0079EF;
}
form p{
  position: relative;
  top: -112px;
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; */
  text-align: center;
  /* line-height: 170px; */
  color: #0079EF;
  font-family: Arial;
}
form input{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
form button{
  margin: 0;
  color: #fff;
  background: #0079EF;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #29CEFF;
  transition: all .2s ease;
  outline: none;
}
form button:hover{
  background: #29CEFF;
  border-bottom: 4px solid #0079EF;
}
form button:active{
  border:0;
}
.title {
  text-align: center;
  color:#0079EF; 
}
#errorMsg {
  text-align: center;
  color: red;
}